<style>
.logo-container {
    max-width: 250px;
    width: 100%;
}
.logo-container svg {
    width: 100%;
}
</style>
<div class="logo-container">
    <svg class="logo" viewBox="0 0 360 108" xmlns="http://www.w3.org/2000/svg">
       <!-- Replace with SVG Logo -->
    </svg>
</div>